<section id="page-title" class="container">

		<div class="row">
			<div class="span10">
				<h2>About</h2>
			</div>
		</div>
		<div class="row">
			<hr class="span12 clear-bottom">
		</div>
	</section>
	<!-- End Title -->

	<section class="container">
		<div class="row">
			<div class="span4">
				<img src="/about.jpg" />
			</div>
			<div class="span8">
				<h5>I'm a flexible, active freelancer and through my passion for design, I craft simple and functional websites and mobile apps. I'm committed and enthusiastic about every project I take on and I simply love designing. <br /><br />
				<span class="about-text">I use research, strategy, and problem solving to take your ideas and work with you to make them even better.</span> <br /> <br />
				I bring your project to life with clean and standards-based code using the latest techniques and technologies. I ensure that your business and user goals remain a mantra through the lifecycle of your project up to launch and beyond.<br /> <br />
				</h5>
					<div class="vertical-align">
						<a class="presentation" href="/anggi-resume.pdf">
								<i class="icon-file"></i>
							<div class="pdf-desc">
								<p class="pdf-title">Download <span class="visible-big-desktop">Resume</span></p>
								<p class="pdf-info">PDF file, 123 Kb</p>
							</div>
						</a>
					</div>
			</div>
		</div>
	</div>